.cropContainer {
    position: relative;
  }

.invalidCrop :global(.ReactCrop__crop-selection) {
    border-color: red !important;
    background-color: rgba(255, 0, 0, 0.3) !important;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}